&
    position absolute
    top 0px
    left 110px
    border 1px solid #222
    background white
    padding 2px 8px 6px 8px
    font-size 0.8em
    dt
        display block
        float left
        clear left
        width 30px
        height 20px
        margin-top 5px
        margin-right 8px
    dd
        float left
        line-height 1.4em
        display block
        margin 0px
        margin-top 7px
        height 15px
        margin-bottom 3px


