@import colors
@import prefixes
body
    margin 0px
    font-family arial, sans-serif
    svg
        rect
            stroke #666
            stroke-width 1px
            &:hover
                fill HNLink
                stroke HNBlue
                cursor pointer
            &:active
                fill lighten(HNLink, 20%)
                stroke lighten(HNBlue, 20%)
        .axis
            path
                stroke #333
                stroke-width 1px
            line
                stroke #999
                stroke-width 1px
                stroke-dasharray 2, 2
                &.minor
                    stroke-dasharray 2, 15
            text
                font-size 0.8em
            &.x
                line
                    stroke-dasharray 1, 0
                    stroke #333
