@import colors
@import prefixes
body
    margin 0px
    font-family arial, sans-serif
    #sidebar
        @import sidebar
    svg
        rect
            stroke darken(#413B3D, 50%)
            stroke-width 2px
            &:hover
                fill white
                cursor pointer
            &:active
                fill #eee
        .axis
            path
                stroke #333
                stroke-width 1px
            line
                stroke #999
                stroke-width 1px
                stroke-dasharray 2, 2
                &.minor
                    stroke-dasharray 2, 15
            text
                font-size 0.8em
            &.x
                line
                    stroke-dasharray 1, 0
                    stroke #333
    a.backButton
        @import backButton
    #legend
        @import legend
    .hiddenIfIncapableBrowser
        display none
